.product-section {
    width: 100%;
    display: grid;
    place-content: center;
    padding: 20px;
}

.productPage-container {
    padding: 20px;
    width: 80vw;
    min-height: 80vh;
    max-width: 1200px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    gap: 20px;
    animation: entryProductContainer .3s ease-in;
}

@keyframes entryProductContainer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.productPage-title {
    margin: 0;
    padding: 0;
    width: 50%;
}

.productPage-info {
    min-width: 300px;
    width: 20vw;
}

.productPage-image {
    min-width: 300px;
    max-width: 600px;
    width: 40vw;
}   

.productPage-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productPage-title {
    width: 100%;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding-bottom: 5px;
}

.productPage-price {
    font-size: 3em;
    color: #7B4997;
}

.productPage-ship {
    width: 100%;
    display: grid;
    font-size: 1.2em;
    border-bottom: 1px solid rgb(174, 174, 174);
}

.productPage-description {
    margin: 0;
}

.productPageInfo-btnContainer {
    width: 100%;
    display: flex;
    gap: 5px;
}

.reviewsBox {
    display: flex;
    align-items: center;
}

.reviewsBox span {
    display: flex;
    align-items: center;
}

.reviewsBox-stars {
    color: #588bbb;
    font-size: 1.3rem;
}

.productPage-quantity {
    font: inherit;
    width: 200px;
    display: flex;
    align-items: center;
}

.productPage-quantity-select {
    width: 100px;
    position: relative;
    display: flex;
    align-items: center;
}

.productPage-quantity-select select {
    cursor: pointer;
    outline: 0;
    height: 1.2rem;
    appearance: none;
    width: 100%;
    height: 25px;
    font: inherit;
}

.productPage-quantity-select-arrow {
    pointer-events: none;
    color: #588bbb;
    width: 20px;
    height: 20px;
    right: 0;
    position: absolute;
    text-align: center;
    transition: all .2s;
}

.productPage-quantity-select-arrow.rotate{
    transform: rotate(180deg);
}
