.product-card {
    width: 250px;
    min-height: 400px;
    background-color: white;
    padding: 10px 0 10px 0;
    flex-shrink: 0;
    border-radius: 10px;
    transition: box-shadow .3s ease;
}

.product-card:hover {
    box-shadow: 0px 0px 10px gray;
}

.product-header {
    width: 100%;
    border-bottom: 1px solid rgb(174, 174, 174);
}

.like-btn {
    position: absolute;
    aspect-ratio: 1;
    background-color: transparent;
    width: 40px;
    margin-left: 10px;
    border: none;
    color: black;
}

.unliked {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #588bbb;
    padding: 0;
    font-size: 1.7rem;
}

.liked {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #588bbb;
    padding: 0;
    font-size: 1.7rem;
    animation: likedEntry .3s ease;

}

@keyframes likedEntry {
    from {
        font-size: 2.2rem;
    }
    to {
        font-size: 1.7rem;
    }
}

.product-card img {
    width: 100%;
}

.productCard-image-skeleton {
    aspect-ratio: 1;
    width: 100%;
    animation: prodCardSkeletonAnim .5s ease alternate infinite
}

.product-name {
    margin: 0;
}

.product-info {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.product-price {
    text-align: center;
}

.buy-btn {
    aspect-ratio: 3.5;
    width: 70%;
    background-color: #cdb4db;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.btn-circle {
    width: 200px;
    height: 200px;
    border-radius: 900px;
    top: -200px;
    left: -200px;
    background-color: #b388eb;
    position: absolute;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.btn-text {
    position: relative;
    z-index: 2;
}

.buy-btn:hover .btn-circle {
    left: -20px;
    top: -50px;
}