.cartPage-section {
    width: 100%;
    display: grid;
    place-content: center;
    padding: 20px;
}

.cartPage-container, .cartPage-empty {
    padding: 20px;
    width: 80vw;
    max-width: 1200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    animation: entryProductContainer .3s ease-in;
}

.cartPage-container.empty {
    justify-content: center;
    align-items: center;
}